.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  border: 0.5px solid grey;
  /* padding:10px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  overflow: hidden;
}

.card img {
  height: 130px;
  width: auto;
  object-fit: scale-down;
  overflow: hidden;
}

.card img:hover {
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-color: darkturquoise;
}

.container {
  padding: 2px 16px;
  height: 100px;
}
.container p {
  font-size: smaller;
}
.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  text-align: center;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.infinite {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
